/* You can add global styles to this file, and also import other style files */
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}

@font-face {
  font-family: parisienne;
  src: url(assets/fonts/Parisienne-Regular.ttf) format("truetype");
}
