<div class="main-div">
    <div *ngIf="varaIsDone" [@fadeInOnEnter]>
        <div *ngFor="let star of tinyStars" id="tiny_star" [ngStyle]="{top: star.top, right: star.right}"></div>
        <div *ngFor="let star of mediumStars" id="medium_star" [ngStyle]="{top: star.top, right: star.right}"></div>
        <div *ngFor="let star of bigStars" id="big_star" [ngStyle]="{top: star.top, right: star.right}"></div>
    </div>
    <div id="signature" [ngStyle]="{position: initIsDone ? 'unset' : 'absolute'}"></div>
    <div *ngIf="initIsDone" [@zoomInOnEnter] class="options-row">
        <div class="option" (click)="setSelectionState('Video')">
            <span class="option-text" [ngStyle]="{'text-decoration': selectionState === 'Video'? 'underline 0.5px' : 'unset'}">Video</span>
        </div>
        <div class="option" (click)="setSelectionState('Fotos')">
            <span class="option-text" [ngStyle]="{'text-decoration': selectionState === 'Fotos'? 'underline 0.5px' : 'unset'}">Fotos</span>
        </div>
        <div class="option" (click)="setSelectionState('Cartita')">
            <span class="option-text" [ngStyle]="{'text-decoration': selectionState === 'Cartita'? 'underline 0.5px' : 'unset'}">Cartita</span>
        </div>
    </div>
    <div *ngIf="initIsDone" class="content-div" [@zoomInOnEnter]>
        <div class="video-div" *ngIf="leaveFinished && selectionState === 'Video'" [@zoomInOnEnter] [@zoomOutOnLeave] (@zoomOutOnLeave.done)="leaveDone()">
            <h1>Video</h1>
        </div>
        <div class="photos-div" *ngIf="leaveFinished && selectionState === 'Fotos'" [@zoomInOnEnter] [@zoomOutOnLeave] (@zoomOutOnLeave.done)="leaveDone()">
            <carousel [cellsToShow]="1" [loop]="true" [images]="randomImages" [objectFit]="'contain'"></carousel>
        </div>
        <div class="letter-div" *ngIf="leaveFinished && selectionState === 'Cartita'" [@zoomInOnEnter] [@zoomOutOnLeave] (@zoomOutOnLeave.done)="leaveDone()">
            <h1>Cartita</h1>
        </div>
    </div>
</div>
